# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Security
*.env
service-account.json

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
project_codebase.txt
project_codebase.txt
apply_code.py
./scripts/apply_code.py

# Android & Bubblewrap Build Files
android-build/
*.keystore
*.aab
*.apk
mrt-release.keystore
scripts/list_assets.py
scripts/apply_code.py
export_src_lib-src_hooks-src_data.txt
